<div class="row">
  <div class="span6 offset3">
  <%= form_for @ad, :html =>  {:multipart => true} do |f| %>

    <p> <%= ENV["CLOUD_NAME"] %> </p>

    <%= hidden_field_tag "image_id", :value => 2 %>


    <p> Upload Image </p>
    <%= file_field_tag "image", :class => "image_upload" %>

    <%= file_field_tag "images[image_2]", :class => "hidden image_upload" %>

    <%= file_field_tag "images[image_3]", :class => "hidden image_upload" %>

    <%= file_field_tag "images[image_4]", :class => "hidden image_upload" %>

    <%= file_field_tag "images[image_5]", :class => "hidden image_upload" %>



    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :color %>
    <%= f.text_field :color %>

      <%= submit_tag "Create ad", class: "btn btn-large btn-primary" %>
    <% end %>
 </div>
</div>