<div class="slides-container">
<div id="slides">
<% @ad.image_album.images.each do |image| %>


<p> <%= image_tag image.image_url %> </p>
<% end %>
</div>
</div>

<h1> <%= @ad.name %> </h1>

<p> <%= @ad.description %> </p>

<p> Color: <%= @ad.color %> </p>

<p> View count all: <%= @view_count_all %> </p>
<p> View count sessions: <%= @view_count_sessions %> </p>
<p> View count unique: <%= @view_count_unique %> </p>

<p> Rent count all: <%= @rent_count_all %> </p>
<p> Rent count unique: <%= @rent_count_unique %> </p>







<%= link_to("varaa",  rent_path(:id => @ad.id), :method => :post, :remote => true) %>
